<div class="navigation">
  <button class="links" [routerLink]="['/account-update']" routerLinkActive="active">About</button>
  <button class="links" [routerLink]="['/account-education']" routerLinkActive="active">Education</button>
  <button class="links" [routerLink]="['/account-experience']" routerLinkActive="active">Experience</button>
  <button class="links" [routerLink]="['/account-skills']" routerLinkActive="active">Skills</button>
  <button class="links" [routerLink]="['/account-interests']" routerLinkActive="active">Interests</button>
</div>
