<div class="navigation">
  <button class="links"  [routerLink]="['/profile-posts']"  (click)="goToPosts()" routerLinkActive="active">Posts</button>
  <button class="links" [routerLink]="['/profile-details']"  (click)="goToAbout()" routerLinkActive="active">About</button>
  <button class="links" [routerLink]="['/profile-education']"  (click)="goToEducation()" routerLinkActive="active">Education</button>
  <button class="links"  [routerLink]="['/profile-experience']"  (click)="goToExperience()" routerLinkActive="active">Experience</button>
  <button class="links" [routerLink]="['/profile-skills']"  (click)="goToSkills()" routerLinkActive="active">Skills</button>
</div>
