<app-navbar></app-navbar>

<div class="container">

  <div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="right">
      <div class="right-content">
        <app-profile-navigation></app-profile-navigation>
        <div class="add-experience">
          <button class="add-button">
            <mat-icon>add_circle</mat-icon>Add new skill
          </button>
        </div>
        <div class="tab-content">
          <div class="main">
            <div class="left-main">
              <div class="main-title">
                Techical skills
              </div>
              <div class="skills">
                <div class="skill">
                  <div>Lorem ipsum dolor sit ame
                  </div>
                  <mat-icon>delete</mat-icon>
                </div>
                <div class="skill">
                  <div>Lorem ipsum dolor sit ame
                  </div>
                  <mat-icon>delete</mat-icon>
                </div>
                <div class="skill">
                  <div>Lorem ipsum dolor sit ame
                  </div>
                  <mat-icon>delete</mat-icon>
                </div>
              </div>
            </div>
            <div class="right-main">
              <button class="primary-button">Edit</button>
              <button class="primary-button">Delete</button>
            </div>

          </div>

          <div class="line"></div>

          <div class="main">
            <div class="left-main">
              <div class="main-title">
                Soft skills
              </div>
              <div class="skills">
                <div class="skill">
                  <div>Lorem ipsum dolor sit ame
                  </div>
                  <mat-icon>delete</mat-icon>
                </div>
                <div class="skill">
                  <div>Lorem ipsum dolor sit ame
                  </div>
                  <mat-icon>delete</mat-icon>
                </div>
              </div>
            </div>
            <div class="right-main">
              <button class="primary-button">Edit</button>
              <button class="primary-button">Delete</button>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
