<app-navbar></app-navbar>

<div class="container">

  <div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="right">
      <div class="right-content">
        <app-profile-navigation></app-profile-navigation>
        <div class="add-experience">
          <button class="add-button" (click)="opetAddCategoryDialog( $event)">
            <mat-icon>add_circle</mat-icon>Add new skill category
          </button>
        </div>
        <div class="tab-content">
          <div class="main">
            <div class="left-main">
              <div class="main-title">
                Techical skills
              </div>
              <div class="skills">
                <div class="skill">
                  <div>Lorem ipsum dolor sit ame
                  </div>
                  <mat-icon>edit</mat-icon>
                  <mat-icon>delete</mat-icon>
                </div>
                <div class="skill">
                  <div>Lorem ipsum dolor sit ame
                  </div>
                  <mat-icon>edit</mat-icon>
                  <mat-icon>delete</mat-icon>
                </div>
                <div class="skill">
                  <div>Lorem ipsum dolor sit ame
                  </div>
                  <mat-icon>edit</mat-icon>
                  <mat-icon>delete</mat-icon>
                </div>
              </div>
            </div>
            <div class="right-main">
              <button class="primary-button" (click)="opetAddSkillDialog( $event)">Add skill</button>
              <button class="delete-button">Delete</button>
            </div>

          </div>

          <div class="line"></div>

          <div class="main">
            <div class="left-main">
              <div class="main-title">
                Soft skills
              </div>
              <div class="skills">
                <div class="skill">
                  <div>Lorem ipsum dolor sit ame
                  </div>
                  <mat-icon>edit</mat-icon>
                  <mat-icon>delete</mat-icon>
                </div>
                <div class="skill">
                  <div>Lorem ipsum dolor sit ame
                  </div>
                  <mat-icon>edit</mat-icon>
                  <mat-icon>delete</mat-icon>
                </div>
              </div>
            </div>
            <div class="right-main">
              <button class="primary-button">Add skill</button>
              <button class="delete-button">Delete</button>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<ng-template #addSkill let-mydata class="dialog">
  <div class="dialog-title" mat-dialog-title>Add new skill</div>
  <div mat-dialog-content class="dialog-content">
    <div>Select skill:</div>
    <form [formGroup]="addSkillForm">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Skills</mat-label>
          <mat-select>
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>or</div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Enter custom skill name</mat-label>
          <input formControlName="skill" matInput placeholder="skill">
        </mat-form-field>
      </div>
    </form>
  </div>
  <div mat-dialog-actions class="dialog-actions">
    <button mat-raised-button color="primary" class="yes-button"  mat-dialog-close>Save</button>
    <button mat-raised-button mat-dialog-close raised class="cancel-button" > Close</button>
  </div>
</ng-template>

<ng-template #addSkillCategory let-mydata class="dialog">
  <div class="dialog-title" mat-dialog-title>Add new skill category</div>
  <div mat-dialog-content class="dialog-content">
    <div>Select skill category:</div>
    <form [formGroup]="addForm">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Skill category</mat-label>
          <mat-select>
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div mat-dialog-actions class="dialog-actions">
    <button mat-raised-button color="primary" class="yes-button" mat-dialog-close>Save</button>
    <button mat-raised-button mat-dialog-close raised class="cancel-button"> Close</button>
  </div>
</ng-template>
