<app-navbar></app-navbar>

<div class="container">

  <div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="left">
      <div class="left-content">
        <app-account-info  [selectedProfile]="selectedUser"></app-account-info>
        <button class="primary-button connect" *ngIf="selectedUser.status==1">Connect</button>
        <button class="primary-button connect" *ngIf="selectedUser.status==0">Send request</button>
      </div>
    </div>
    <div class="right">
      <div class="right-content">
        <app-user-navigation   [selectedUser]="selectedUser"></app-user-navigation>
        <div class="private-content"  *ngIf="selectedUser.status==0">
          This profile is private! Send request to make connection!
        </div>
        <div class="tab-content" *ngIf="selectedUser.status==1">
          <div class="main" *ngFor="let item of experience">
            <div class="head">
              <div class="info">
                <div class="mat-h2">{{item.fieldOfWork}}</div>
                <div class="mat-h3">{{item.nameOfCompany}}</div>
              </div>
              <div class="mat-h4 date">{{item.startDate | date:'mediumDate' }} -{{item.endDate | date:'mediumDate' }}
              </div>
            </div>
            <div class="mat-body-1">
              {{item.description}}
            </div>
            <div class="line"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
