<app-navbar></app-navbar>

<div class="container">

  <div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="left">
      <div class="left-content">
        <app-account-info [selectedProfile]="selectedUser"></app-account-info>
      </div>
    </div>
    <div class="right">
      <div class="right-content">
        <app-user-navigation [selectedUser]="selectedUser"></app-user-navigation>
        <div class="private-content"  *ngIf="selectedUser.status==0">
          This profile is private! Send request to make connection!
        </div>
        <div class="tab-content">
          <div class="post" *ngFor="let post of sortedPosts; let i=index">
            <div class="head">
              <div class="card-image">
                <div class="avatar-girl" *ngIf="selectedUser.gender=='1'">
                  {{selectedUser.firstName[0]}} {{selectedUser.lastName[0]}}
                </div>
                <div class="avatar-boy"  *ngIf="selectedUser.gender=='0'">
                  {{selectedUser.firstName[0]}} {{selectedUser.lastName[0]}}
                </div>
            </div>
              <div class="info">
                <div class="mat-h2">{{selectedUser.firstName}} {{selectedUser.lastName}}</div>
              </div>
              <div class="mat-h4">{{post.dateTimeOfPublishing | date:'mediumDate'}}</div>
            </div>
            <div class="mat-body-1">
              {{post.text}}
            </div>
            <div class="reactions">
              <button class="like-button" *ngIf="isLiked(i)==true" (click)="removeLike(post,i)">
                <mat-icon>thumb_up</mat-icon>{{post.likes.length}}
              </button>
              <button class="reaction-button" *ngIf="!isLiked(i)"  (click)="addLike(post,i)">
                <mat-icon>thumb_up</mat-icon>{{post.likes.length}}
              </button>
              <button class="dislike-button" *ngIf="isDisliked(i)==true" (click)="removeDislike(post,i)">
                <mat-icon>thumb_down</mat-icon>{{post.dislikes.length}}
              </button>
              <button  class="reaction-button" *ngIf="!isDisliked(i)" (click)="addDislike(post,i)">
                <mat-icon>thumb_down</mat-icon>{{post.dislikes.length}}
              </button>
              <button [ngClass]="[commentStyle]" (click)="showComments(i)">
                <mat-icon> comment</mat-icon>{{post.comments.length}}
              </button>
             
            </div>
           
            <div class="comments" *ngIf="post.showComments==true">
              <div class="new-message">
                <mat-form-field  appearance="outline">
                  <mat-label>Comment*</mat-label>
                  <textarea matInput placeholder="Enter comment" [(ngModel)]='post.newCommentText' [name]='post.newCommentText'></textarea>
                </mat-form-field>
                <button class="accept-button" (click)="addComment(post,i)">Post</button>
              </div>
              <div class="comment" *ngFor="let item of post.comments">
                <div class="comment-image">
                  <div class="avatar-girl-small" *ngIf="item.gender=='1'">
                    {{item.userFirstName[0]}} {{item.userLastName[0]}}
                  </div>
                  <div class="avatar-boy-small"  *ngIf="item.gender=='0'">
                    {{item.userFirstName[0]}} {{item.userLastName[0]}}
                  </div>
                </div>
                <div class="message">
                  <div class="author">{{item.userFirstName}} {{item.userLastName}}</div>
                  <div>{{item.text}}</div>
                </div>
              </div>
          </div>
        </div>
      </div>
      </div>

    </div>
  </div>
</div>
