@use '../../../base-style'as base;

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 400px;

}

.mat-h2 {
    font-weight: 700;
    color: base.$dark-grey
}

.post-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width:80px;
    gap: 10px;
    background-color: white;
    border-radius: base.$border-radius;
    border: 2px solid base.$medium-grey-letters;
    color: base.$medium-grey-letters
}
.text-default{
}
.text-checked{
    background-color: base.$primary-color-dark;
    border: 2px solid white;
    color:white;
}
.post-element:hover {
    cursor: pointer;
    box-shadow: base.$box-shadow;
}


.mat-dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mat-form-field {
    width: 100%;
}

.buttons {
    display: flex;
    gap: 10px;
}

.add {
    @extend %primary-button;
    margin: 5px;
}

.add:hover {
    @extend %primary-button-hover
}

.close {
    @extend %secondary-button;
    margin: 5px;
}

.close:hover {
    @extend %secondary-button-hover
}