@use '../../../base-style'as base;


.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 30px;
    background-color: base.$background-color;
}

.wrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: base.$background-color;
}

.right {
    margin-top: 60px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.left {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-image {
    width: 60%;
}

.right-content {
    width: 80%;
    background-color: white;
    padding: 20px;
    border-radius: base.$border-radius;
    box-shadow: base.$box-shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitle {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
}


.left-content {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.tab-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.add-post {
    display: flex;
    justify-content: flex-end;
    padding: 0
}

.add-button {
    @extend %grey-button;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-button:hover {
    @extend %grey-button-hover;
}

.post {
    border-radius: base.$border-radius;
    box-shadow: base.$box-shadow;
    background-color: white;
    padding: 20px;
}

.head {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}

.head .image {
    grid-column: 1;
}

.info {
    grid-column: 2;
}

.image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.body img {
    margin-top: 10px;
    width: 100%;
}

.reactions {
    padding-top: 10px;
    display: flex;
    gap: 10px;
}

.reaction-button {
    background-color: white;
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid base.$medium-grey-letters;
    display: flex;
    color: base.$medium-grey-letters;
    align-items: center;
    gap: 5px;
}

.reaction-button:hover {
    box-shadow: base.$box-shadow;
    cursor: pointer;
}

.mat-h2 {
    font-weight: 500;
    color: base.$dark-grey;
    margin: 0px;
}

.public {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin:0px;
    padding: 0px;

}

.isPublic {
    display: flex;
    align-items: center;
    gap:5px;
    color: base.$light-grey-letters;
    font-size: 14px;
}

.mat-h3 {
    font-weight: 600;
    font-size: 17px;
margin:0px;
    color: base.$primary-color-dark;
}

.mat-h4 {
    color: base.$light-grey-letters;
    margin:0px;
}

.mat-body-1 {
    font-weight: 500;
    font-size: 16px;
    color: base.$dark-grey;
}

.primary-button {
    @extend %primary-button;
    margin: 5px 20px;
    width: 170px;
}

.connect {
    @extend %primary-button;
    margin: 5px 20px;
    width: 170px;
    background-color: base.$primary-color-dark;
}

.view {
    grid-column: 5;
    display: grid;
    justify-self: center;
    justify-items: center;
}

.primary-button:hover {
    @extend %primary-button-hover;
}

.grey-button {
    @extend %grey-button;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.grey-button:hover {
    @extend %grey-button-hover;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.search {
    display: flex;
    margin-top: 60px;
    width: 95%;
    justify-content: center;
    align-items: center;
}

.search .mat-form-field {
    width: 90%;
}

.card {
    background-color: white;
    width: 90%;
    border-radius: base.$border-radius;
    padding: 20px 20px 10px 20px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 6fr 2fr;
    column-gap: 20px;
    justify-items: start;
    box-shadow: base.$box-shadow;
}

.card-image {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
}

.card-image img {
    border-radius: 50%;
    width: 100px;
    width: 100px;
}

.head-connection {
    display: grid;
    grid-template-columns: 2fr 6fr
}

.accept {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: -5px
}

.accept-button {
    @extend %primary-button;
    margin: 0;
    padding: 10px 20px;
    border-radius: 10px;
}

.accept-button:hover {
    @extend %primary-button-hover;
}

.decline-button {
    @extend %secondary-button;
    margin: 0;
    padding: 7px 20px;
    border-radius: 10px;
}

.decline-button:hover {
    @extend %secondary-button-hover;
    margin: 0;
    padding: 10px 23px;
}

.line {
    border-bottom: 2px solid base.$light-grey-letters;
    margin: 10px 0;
}

@media (pointer: coarse) {
    .container {
        flex-direction: row;
    }

    .left {
        width: 90%;
    }

    .mat-h1 {
        width: 100%;
        margin: 0px 0px;
        text-align: center;
    }

}