<app-navbar></app-navbar>

<div class="container">


  <div class="wrapper">
    <app-sidebar></app-sidebar>

    <div class="left">
      <div class="left-content">
        <form [formGroup]="searchForm" class="search">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Search"  formControlName="inputUser">
            <mat-icon matSuffix (click)="sarchUserByUsername()">search</mat-icon>
          </mat-form-field>
        </form>

        <div  *ngFor="let profile of profiles;let i = index">
          <div class="card" *ngIf="!isInBlocked(profile.id)">
          <div class="card-image">
              <div class="avatar-girl" *ngIf="profile.gender=='1'">
                {{profile.firstName[0]}} {{profile.lastName[0]}}
              </div>
              <div class="avatar-boy"   *ngIf="profile.gender=='0'">
                {{profile.firstName[0]}} {{profile.lastName[0]}}
              </div>
          </div>
          <div class="name ">
            <div class="public">
              <div class="mat-h2">{{profile.firstName}} {{profile.lastName}}</div>
              <div class="isPublic" *ngIf="profile.status=='1'">
                <mat-icon>visibility</mat-icon>Public
              </div>
              <div class="isPublic" *ngIf="profile.status=='0'">
                <mat-icon>visibility_off</mat-icon>Private
              </div>
            </div>
            <div class="mat-h3">{{profile.username}}</div>
            <div class="mat-h4">{{profile.city}},{{profile.country}}</div>
          </div>
          <div class="view">
            <div class="card-profile"><button (click)="viewProfile(profile)" class="primary-button">Profile</button>
            </div>
            <div class="card-connect">
               <button *ngIf="profile.status=='1'  && !isConnected(profile.id)"   class="follow-button connect" (click)="follow(profile.id)">Follow</button>
               <button *ngIf="profile.status=='1' && isConnected(profile.id)"   class="follow-button following" (click)="unfollow(profile.id)" >Unfollow</button>
              <button *ngIf="profile.status=='0'  && !isConnected(profile.id)" class="primary-button request" (click)="sendRequest(profile.id)">Send Request</button>
              <button *ngIf="profile.status=='0'  && isConnected(profile.id)" class="follow-button following" (click)="unfollow(profile.id)">Unfollow</button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="right">
      <div class="right-content">
        <div class="mat-h2">Filters</div>
        <mat-form-field appearance="outline">
          <mat-label>Experience level</mat-label>
          <mat-select [formControl]="experience" multiple>
            <mat-select-trigger>
              {{experience.value ? experience.value[0] : ''}}
              <span *ngIf="experience.value?.length > 1" class="example-additional-selection">
                (+{{experience.value.length - 1}} {{experience.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let experience of experienceList" [value]="experience">{{experience}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Industry</mat-label>
          <mat-select [formControl]="industry" multiple>
            <mat-select-trigger>
              {{industry.value ? industry.value[0] : ''}}
              <span *ngIf="industry.value?.length > 1" class="example-additional-selection">
                (+{{industry.value.length - 1}} {{industry.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let industry of industryList" [value]="industry">{{industry}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Age</mat-label>
          <mat-select [formControl]="age" multiple>
            <mat-select-trigger>
              {{age.value ? age.value[0] : ''}}
              <span *ngIf="age.value?.length > 1" class="example-additional-selection">
                (+{{age.value.length - 1}} {{age.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let age of ageList" [value]="age">{{age}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button class="grey-button">Apply</button>
        <img id="home-image" src="../../../assets/home.png">
      </div>
    </div>
  </div>
</div>