<app-navbar></app-navbar>

<div class="container">

    <div class="wrapper">
        <app-sidebar></app-sidebar>

        <div class="chatbox">
            <div class="people">
                <form class="search">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Search people">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </form>
                <div class="friends">
                    <div class="friend">
                        <div class="friend-image"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
                        </div>
                        <div class="name">Ana</div>
                        <div class="name">Anic</div>
                    </div>
                    <div class="friend">
                        <div class="friend-image"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
                        </div>
                        <div class="name">Ana</div>
                        <div class="name">Anic</div>
                    </div>
                    <div class="friend">
                        <div class="friend-image"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
                        </div>
                        <div class="name">Ana</div>
                        <div class="name">Anic</div>
                    </div>
                    <div class="friend">
                        <div class="friend-image"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
                        </div>
                        <div class="name">Ana</div>
                        <div class="name">Anic</div>
                    </div>
                    <div class="friend">
                        <div class="friend-image"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
                        </div>
                        <div class="name">Ana</div>
                        <div class="name">Anic</div>
                    </div>
                    <div class="friend">
                        <div class="friend-image"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
                        </div>
                        <div class="name">Ana</div>
                        <div class="name">Anic</div>
                    </div>
                    <div class="friend">
                        <div class="friend-image"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
                        </div>
                        <div class="name">Ana</div>
                        <div class="name">Anic</div>
                    </div>
                </div>
            </div>
            <div class="messages">
                <div class="title">
                    <div class="title-image"><img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
                    </div>
                    <div class="title-name">Ana</div>
                    <div class="title-name">Anic</div>
                </div>
                <div class="messages-list">
                    <div class="message-left">
                        <div class="friend-image"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
                        </div>
                        <div class="message-body-left">
                            jhkjdh sjdhkfsjd ksldkfljdk
                        </div>
                    </div>
                    <div class="message-right">
                        <div class="message-body-right">sdkjfik kjkKJJK ksdjkkkkk hahhhha</div>
                        <div class="friend-image"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
                        </div>
                    </div>
                    <div class="message-left">
                        <div class="friend-image"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
                        </div>
                        <div class="message-body-left">
                            jhkjdh sjdhkfsjd ksldkfljdk
                        </div>
                    </div>
                    <div class="message-right">
                        <div class="message-body-right">sdkjfik kjkKJJK ksdjkkkkk hahhhha</div>
                        <div class="friend-image"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
                        </div>
                    </div>
                    <div class="message-left">
                        <div class="friend-image"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
                        </div>
                        <div class="message-body-left">
                            jhkjdh sjdhkfsjd ksldkfljdk
                        </div>
                    </div>
                    <div class="message-right">
                        <div class="message-body-right">sdkjfik kjkKJJK ksdjkkkkk hahhhha</div>
                        <div class="friend-image"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
                        </div>
                    </div>
                    <div class="message-left">
                        <div class="friend-image"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
                        </div>
                        <div class="message-body-left">
                            jhkjdh sjdhkfsjd ksldkfljdk
                        </div>
                    </div>
                    <div class="message-right">
                        <div class="message-body-right">sdkjfik kjkKJJK ksdjkkkkk hahhhha</div>
                        <div class="friend-image"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
                        </div>
                    </div>
                </div>
                <div class="send-box">
                    <form class="send-message">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Enter message">
                            <mat-icon matSuffix>send</mat-icon>
                        </mat-form-field>
                    </form>
                </div>
            </div>
        </div>
    </div>