@use '../../../base-style'as base;

.navigation {
    box-shadow: base.$box-shadow;
    background-color: base.$primary-color;
    border-radius: base.$border-radius;
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: space-around;
}

.links {
    font-size: 18px;
    padding: 10px 30px;
    background-color: transparent;
    border: 0px;
    color: white;
    border-bottom: 3px solid transparent;
}

.links:hover {
    border-bottom: 3px solid base.$primary-color-dark;
    cursor: pointer;
}

.active {
    border-bottom: 3px solid white;
}