@use '../../../base-style'as base;

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 30px;
    background-color: base.$background-color;
}

.wrapper {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 80%;
    gap: 20px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    background-color: base.$background-color;
    border-radius: base.$border-radius;
}

.left {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-content {
    background-color: white;
    padding: 20px;
    border-radius: base.$border-radius;
    box-shadow: base.$box-shadow;
    display: flex;
    flex-direction: column;
}

.right-content {
    width: 100%;
    border-radius: base.$border-radius;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.primary-button {
    @extend %primary-button;
    background-color: base.$primary-color-dark;
}

.primary-button:hover {
    @extend %primary-button-hover;
}

.tab-content {
    background-color: white;
    border-radius: base.$border-radius;
    box-shadow: base.$box-shadow;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.line {
    border-bottom: 2px solid base.$light-grey-letters;
    margin: 10px 0;
}

.main {
    display: flex;
    flex-direction: row;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.update {
    display: flex;
    width: 30%;
}

.primary-button {
    @extend %primary-button;
    background-color: base.$primary-color-dark;
    height: 50px;
}

.primary-button:hover {
    @extend %primary-button-hover;
}

.mat-form-field {
    width: 90%;
}

.biography {
    width: 95%;
}

.mat-h2 {
    margin-top: 10px;
    font-weight: 500;
    color: base.$dark-grey;
}

.mat-h3 {
    font-weight: 600;
    margin-top: -20px;
    font-size: 17px;
    color: base.$primary-color-dark;
}

.mat-body-1 {
    font-weight: 500;
    font-size: 16px;
    color: base.$dark-grey;
}

@media (pointer: coarse) {
    .container {
        flex-direction: row;
    }

    .left {
        width: 90%;
    }

    .mat-h1 {
        width: 100%;
        margin: 0px 0px;
        text-align: center;
    }

}