<app-navbar></app-navbar>

<div class="container">
    <div class="wrapper">
        <app-sidebar></app-sidebar>

        <div class="left">
            <div class="left-content">
                <div class="navigation">
                    <button class="links" [routerLink]="['/find-job']" routerLinkActive="active">Find job</button>
                    <button class="links" [routerLink]="['/my-jobs']" routerLinkActive="active">My jobs</button>
                </div>

                <div class="tab-content">
                    <div class="add-post">
                        <button class="add-button" (click)="openAddDialog($event)">
                          <mat-icon>add_circle</mat-icon>Post new job
                        </button>
                      </div>
                      <div class="main">
                        <div class="no-data" *ngIf="jobsCount===0">
                            <img src="../../assets/no-data.png">
                        </div>
                        <div class="card" *ngFor="let job of jobs">
                            <div class="card-image">
                                <div class="junior" *ngIf="job.seniority=='0'">
                                   J
                                </div>
                                <div class="medior" *ngIf="job.seniority=='1'">
                                    M
                                </div>
                                <div class="senior" *ngIf="job.seniority=='2'">
                                   S
                                </div>
                            </div>
                            <div class="name ">
                                <div class="public">
                                    <div class="mat-h2">{{job.positionName}}</div>
                                </div>
                                <div class="mat-h3">{{job.userFirstName}}  {{job.userLastName}}</div>
                                <div class="mat-h3">{{job.city}},{{job.country}}</div>
                            </div>
                            <div class="view">
                                <div class="mat-h4">{{job.startDateTime | date:'mediumDate'}} - {{job.endDateTime | date:'mediumDate'}}</div>
                                <div class="card-profile"><button [routerLink]="['/job-details']"
                                        class="primary-button" (click)="viewJob(job)">View</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="right-content">
                <div class="subtitle">Suggested jobs</div>
                <div class="connection" *ngFor="let item of recommendedJobs">
                    <div class="head-connection">
                        <div class="card-image">
                            <div class="junior" style="width:50px;height:50px" *ngIf="item.seniority=='0'">
                               J
                            </div>
                            <div class="medior" style="width:50px;height:50px"  *ngIf="item.seniority=='1'">
                                M
                            </div>
                            <div class="senior" style="width:50px;height:50px"  *ngIf="item.seniority=='2'">
                               S
                            </div>
                        </div>
                        <div class="info-connection">
                            <div class="mat-h2">{{item.positionName}}</div>
                        </div>
                    </div>
                    <div class="accept">
                        <button class="accept-button" (click)="viewJob(item)">View</button>
                    </div>
                    <div class="line"></div>

                </div>
            </div>
        </div>
    </div>
</div>