@use '../../../base-style' as base;


.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: base.$background-color;
}

.left {
margin-top: 100px;
  height: 100%;
  width: 70%;
  font-family: base.$font-stack;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
}
.right {
    margin-top: 70px;
  height: 90%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-content{
  box-shadow: base.$box-shadow;
    height: 100%;
    border-radius: base.$border-radius;
    padding:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    background-color: white;
}
.search{
  width:60%;
}
.search .mat-form-field{
    width: 100%;
}
.right .mat-form-field{
    width: 70%;
}

.card{
  background-color: white;
  width: 70%;
  border-radius: base.$border-radius;
  padding:20px 20px 10px 20px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 6fr 2fr;
  column-gap:20px;
  justify-items: start;
  box-shadow: base.$box-shadow;
}
.card-image{
    grid-column: 1;
}
.card-image img{
    border-radius: 50%;
    width: 100px;
    width: 100px;
}
.name{
    grid-column: 2;
}
.view{
    grid-column: 3;
    display: grid;
    justify-self: center;
    justify-items: center;

}
.title{
  font-weight:700 ;
  color:base.$dark-grey;
  justify-content: center;
}
.mat-h2{
    font-weight: 500;
    color:base.$dark-grey;
}
.mat-h3{
    font-weight: 600;
    margin-top:-10px;
    font-size:17px;
    color:base.$primary-color-dark;
}
.mat-h4{
    margin-bottom: -10px;
    color:base.$light-grey-letters
}
.primary-button{
  @extend %primary-button;
}
.primary-button:hover{
  @extend %primary-button-hover;
}

.filter-button{
    @extend %filter-button;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.filter-button:hover{
  @extend %filter-button-hover;
  display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#home-image{
    width: 60%;
}

@media (pointer: coarse) {
.container{
  flex-direction: row;
}
  .left {
    width: 90%;
  }
  .mat-h1{
    width: 100%;
    margin:0px 0px;
    text-align: center;
  }
  
}
