@use '../../../base-style'as base;


.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../../../assets/background6.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wrapper {
    margin-top: 20px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: base.$border-radius;
    gap:20px;
    background-color: base.$background-color;
    box-shadow: base.$box-shadow;
}

.left {
    border-radius: base.$border-radius;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 100%;
    width: 70%;
    font-family: base.$font-stack;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.right {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-content {
    box-shadow: base.$box-shadow;
    height: 100%;
    width: 80%;
    border-radius: base.$border-radius;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    background-color: white;
}

.search {
    margin-top: 80px;
    width: 60%;
}

.search .mat-form-field {
    width: 100%;
}
.search .mat-icon:hover{
cursor: pointer;
}
.avatar-boy,.avatar-girl {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    font-weight: 500;
}
.avatar-boy{
    background-color: #1d9bc9
}
.avatar-girl{
    background-color: palevioletred;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.right .mat-form-field {
    width: 80%;
}

.card {
    background-color: white;
    border-radius: base.$border-radius;
    padding: 20px 20px 10px 20px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 6fr 2fr;
    column-gap: 20px;
    justify-items: start;
    box-shadow: base.$box-shadow;
}

.card-image {
    grid-column: 1;
}

.card-image img {
    border-radius: 50%;
    width: 100px;
    width: 100px;
}

.name {
    grid-column: 2;
}

.view {
    grid-column: 3;
    display: grid;
    justify-self: center;
    justify-items: center;
}

.title {
    font-weight: 700;
    color: base.$dark-grey;
    justify-content: center;
}

.mat-h2 {
    font-weight: 500;
    color: base.$dark-grey;
}

.mat-h3 {
    font-weight: 600;
    margin-top: -10px;
    font-size: 17px;
    color: base.$primary-color-dark;
}

.mat-h4 {
    margin-top: -10px;
    color: base.$light-grey-letters
}

.primary-button {
    @extend %primary-button;
}

.primary-button:hover {
    @extend %primary-button-hover;
}

.grey-button {
    @extend %grey-button;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.grey-button:hover {
    @extend %grey-button-hover;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#home-image {
    width: 60%;
}

@media (pointer: coarse) {
    .container {
        flex-direction: row;
    }

    .left {
        width: 90%;
    }

    .mat-h1 {
        width: 100%;
        margin: 0px 0px;
        text-align: center;
    }

}