<app-navbar></app-navbar>

<div class="container">

  <div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="left">
      <div class="left-content">
        <app-account-info></app-account-info>
        <button class="primary-button connect">Connect</button>
      </div>
    </div>
    <div class="right">
      <div class="right-content">
        <app-profile-navigation></app-profile-navigation>
        <div class="add-experience">
          <button class="add-button">
            <mat-icon>add_circle</mat-icon>Add new experience
          </button>
        </div>
        <div class="tab-content">
          <div class="main">
            <div class="card" style="text-align: center;">
              <div class="row">
                <div class="left-column">
                  <div class="field">
                    <div class="field-title">Job Name-Role</div>
                    <div class="field-value">Software developer</div>
                  </div>
                  <div class="field">
                    <div class="field-title">Company Name</div>
                    <div class="field-value">It comany</div>
                  </div>
                </div>
                <div class="right-column">
                  <div class="field">
                    <div class="field-title">Date Start</div>
                    <div class="field-value">18-05-2020</div>
                  </div>
                  <div class="field">
                    <div class="field-title">Date End</div>
                    <div class="field-value">22-03-2021</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="field">
                  <div class="field-title">Description</div>
                  <div class="field-value">Sara</div>
                </div>
              </div>
            </div>
            <div class="update">
              <button class="primary-button">Edit experience</button>
            </div>
          </div>
          <div class="line">
          </div>

          <div class="main">
            <div class="card" style="text-align: center;">
              <div class="row">
                <div class="left-column">
                  <div class="field">
                    <div class="field-title">Job Name-Role</div>
                    <div class="field-value">Software developer</div>
                  </div>
                  <div class="field">
                    <div class="field-title">Company Name</div>
                    <div class="field-value">It comany</div>
                  </div>
                </div>
                <div class="right-column">
                  <div class="field">
                    <div class="field-title">Date Start</div>
                    <div class="field-value">15-10-2018</div>
                  </div>
                  <div class="field">
                    <div class="field-title">Date End</div>
                    <div class="field-value">06-11-2021</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="field">
                  <div class="field-title">Description</div>
                  <div class="field-value">Sara</div>
                </div>
              </div>
            </div>
            <div class="update">
              <button class="primary-button">Edit experience</button>
            </div>
          </div>



        </div>
      </div>

    </div>
  </div>
</div>
