<app-navbar-not-registered></app-navbar-not-registered>
<div class="container">
  <div class="wrapper">

    <div class="left">
      <div class="left-content">
        <app-account-info  [selectedProfile]="selectedProfile"></app-account-info>
      </div>
    </div>

    <div class="right">
      <div class="right-content">
        <app-account-navigation  [selectedProfile]="selectedProfile"></app-account-navigation>

        <div class="tab-content">
          <div class="main">
            <div class="head">
              <div class="image">
                <img src="https://seeklogo.com/images/C/corporate-company-logo-BAE6B43FF7-seeklogo.com.png">
              </div>
              <div class="info">
                <div class="mat-h2">Front-end developer</div>
                <div class="mat-h3">IT company name</div>
              </div>
              <div class="mat-h4 date">maj 2018 - dec 2020</div>
            </div>
            <div class="mat-body-1">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum.
            </div>
          </div>

          <div class="line"></div>

          <div class="main">
            <div class="head">
              <div class="image">
                <img src="https://seeklogo.com/images/C/corporate-company-logo-BAE6B43FF7-seeklogo.com.png">
              </div>
              <div class="info">
                <div class="mat-h2">Front-end developer</div>
                <div class="mat-h3">IT company name</div>
              </div>
              <div class="mat-h4 date">maj 2018 - dec 2020</div>
            </div>
            <div class="mat-body-1">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
