<app-navbar-not-registered></app-navbar-not-registered>
<div class="container">
  <div class="wrapper">

    <div class="left">
      <div class="left-content">
        <app-account-info  [selectedProfile]="selectedProfile"></app-account-info>
      </div>
    </div>

    <div class="right">
      <div class="right-content">
        <app-account-navigation  [selectedProfile]="selectedProfile"></app-account-navigation>

        <div class="tab-content">
          <div class="main">
            <div class="head">
              <div class="info">
                <div class="mat-h2">Data Science</div>
                <div class="mat-h3">Tecnical School</div>
              </div>
              <div class="mat-h4 date">maj 2018 - dec 2020</div>
            </div>
            <div class="mat-body-1">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          
            </div>
          </div>

          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>
</div>
