@use '../../../base-style' as base;

.container{
    background-color: base.$background-color;
    background-image: url(../../../assets/background1.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.content{
    margin-top: 30px;
    background-color: white;
    width: 30%;
    display: flex;
    align-self: center;
    border-radius: base.$border-radius;
    padding:30px;
    align-items: center;
    flex-direction: column;
}
#logo{
    position:absolute;
    top:15px;
    left:15px;
    color:white;
    font-size: 30px;
}
#logo:hover{
    cursor:pointer;
}
.title{
    margin-bottom:20px;
}
form{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}
.primary-button{
    margin-top:30px;
    @extend %primary-button
}
.primary-button:hover{
    @extend %primary-button-hover
}

#sign-up {
    margin-top: 10px;
    color: base.$primary-color-dark;
    text-decoration: none;
    font-weight: bold;
 }
 #sign-up:hover{
     color:base.$primary-color;
 }
 mat-radio-group{
     display: flex;
     justify-content: center;
     gap:20px;
 }

 .gender{
     display: flex;
     color:rgb(116, 116, 116);
     margin:20px 0 20px 0;
     font-size: 15px;
 }

