@use '../../../base-style'as base;

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 30px;
    background-color: base.$background-color;
}

.wrapper {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 80%;
    gap: 20px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: base.$background-color;
    border-radius: base.$border-radius;
}
.secondary-button{
    @extend %secondary-button;
    width: 130px;
}
.secondary-button:hover{
    @extend %secondary-button-hover;
    width: 130px;
}

.left {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.two-content{
    display: flex;
    width: 100%;
    gap: 20px;
}

.left-content {
    background-color: white;
    padding: 20px;
    border-radius: base.$border-radius;
    box-shadow: base.$box-shadow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-content {
    width: 100%;
    border-radius: base.$border-radius;
    display: flex;
    gap: 20px;
    height: fit-content;
    flex-direction: column;
}

.primary-button {
    @extend %primary-button;
    background-color: base.$primary-color-dark;
    width: 170px;
}

.primary-button:hover {
    @extend %primary-button-hover;
}
.save-button {
    @extend %primary-button;
    background-color: base.$success;
    width: 200px;
}

.save-button:hover {
    @extend %primary-button-hover;
    background-color: base.$success;
}


.tab-content {
    background-color: white;
    border-radius: base.$border-radius;
    box-shadow: base.$box-shadow;
    height: fit-content;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}
.right-tab-content {
    background-color: white;
    border-radius: base.$border-radius;
    box-shadow: base.$box-shadow;
    height: fit-content;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:50%;
}

.subtitle {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
}
.text {
    font-weight: 600;
    font-size: 20px;
    color: gray;

}
.space {
    width: 40px;
    height: auto;
    display: inline-block;
  }
.line {
    border-bottom: 2px solid base.$light-grey-letters;
    margin: 10px 0;
}

.main {
    display: flex;
    flex-direction: row;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.update {
    display: flex;
    width: 30%;
    flex-direction: column;
   align-items: center
}
.profile-circle img {
    border-radius: 50%;
    position: relative
  }

.primary-button {
    @extend %primary-button;
    background-color: base.$primary-color-dark;
    width: 20%;
}

.primary-button:hover {
    @extend %primary-button-hover;
}

.mat-form-field {
    width: 100%;
}

.biography {
    width: 95%;
}

.mat-h2 {
    margin-top: 10px;
    font-weight: 350;
    color: base.$dark-grey;
    font-size: 17px;
}

.mat-h3 {
    font-weight: 350;
    margin-top: -20px;
    font-size: 17px;
    color: base.$primary-color-dark;
}
.mat-h4 {
    color: base.$light-grey-letters;
    margin:0px;
}

.mat-body-1 {
    font-weight: 500;
    font-size: 16px;
    color: base.$dark-grey;
}
input:disabled{
    color:base.$dark-grey
}
textarea:disabled{
    color:base.$dark-grey
}
.search {

    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
}

.search .mat-form-field {
    width: 90%;
}
.search .mat-icon:hover{
    cursor: pointer;
    }

    .card1 {
        background-color:  rgb(54, 222, 132);
        width: 100%;
        border-radius: base.$border-radius;
        padding: 20px 20px 0px 20px;
        display: flex;
        flex-direction: row;
        gap:10px;
        justify-content: space-between;
        box-shadow: base.$box-shadow;
    }
    .card2 {
        background-color: rgb(154, 125, 226);
        width: 100%;
        border-radius: base.$border-radius;
        padding: 20px 20px 0px 20px;
        display: flex;
        flex-direction: row;
        gap:10px;
        justify-content: space-between;
        box-shadow: base.$box-shadow;
    }
    .card3 {
        background-color: rgb(255, 193, 77);
        width: 100%;
        border-radius: base.$border-radius;
        padding: 20px 20px 0px 20px;
        display: flex;
        flex-direction: row;
        gap:10px;
        justify-content: space-between;
        box-shadow: base.$box-shadow;
    }

.card-image {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
}
 .avatar-boy,.avatar-girl {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    font-weight: 500;
}
.avatar-boy{
    background-color: #1d9bc9
}
.avatar-girl{
    background-color: palevioletred;
}

.card-image img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}  

.follow-button:hover {
   box-shadow: base.$box-shadow;
   cursor: pointer;
}
.following {
    @extend %primary-button;
    margin: 5px 20px;
    width: 130px;
    background-color: base.$danger;
    align-items: center;
    justify-content: center;
}
.public {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left:10px;
    padding: 0px;

}

.isPublic {
    display: flex;
    align-items: center;
    gap:5px;
    color: base.$light-grey-letters;
    font-size: 14px;
}

.content {
    margin: auto;
    width: 80%;
    padding: 30px;
    color: #0B2545;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
  
.cards {
    display: flex;
}
.job-card {
    background-color: white;
    border-radius: base.$border-radius;
    box-shadow: base.$box-shadow;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.diagram-content{
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.left {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;

}
.jobs{
    padding: 12px 15px;
    background-color: rgb(54, 222, 132);
    font-size: 16px;
    color: white;
    border: 0px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius:15px;
    margin: 10px 0;
    width: 130px;
}
.posts{
    padding: 12px 15px;
    background-color: rgb(154, 125, 226);
    font-size: 16px;
    color: white;
    border: 0px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius:15px;
    margin: 10px 0;
    width: 130px;
}
.connections{
    padding: 12px 15px;
    background-color:rgb(255, 193, 77);
    font-size: 16px;
    color: white;
    border: 0px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius:15px;
    margin: 10px 0;
    width: 130px;
}

.mat-table
{
  background-color:transparent!important;  
}
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 15px;
}
table tr:last-child td /*To remove the last border*/
{
  border-bottom:0 solid
}
.mat-header-cell{
    color:base.$primary-color;
    font-size: 16px;
}
tr.mat-row{
    background-color: base.$background-color;
}

@media (pointer: coarse) {
    .container {
        flex-direction: row;
    }

    .left {
        width: 90%;
    }

    .mat-h1 {
        width: 100%;
        margin: 0px 0px;
        text-align: center;
    }

}