@use '../../../base-style'as base;

.container {
    background-color: base.$background-color;
    background-image: url(../../../assets/background1.png);
    min-height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.content {
    background-color: white;
    width: 30%;
    display: flex;
    align-self: center;
    border-radius: base.$border-radius;
    padding: 30px;
    padding-bottom: 60px;
    align-items: center;
    flex-direction: column;
}

#logo {
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    font-size: 30px;
}

#logo:hover {
    cursor: pointer;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

.primary-button {
    margin-top: 30px;
    @extend %primary-button
}

.primary-button:hover {
    @extend %primary-button-hover
}

#sign-up {
    color: base.$primary-color-dark;
    text-decoration: none;
    font-weight: bold;
}

#sign-up:hover {
    color: base.$primary-color;
}