<app-navbar></app-navbar>

<div class="container">

  <div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="left">
      <div class="left-content">
        <app-account-info [selectedProfile]="selectedUser"></app-account-info>
        <button class="primary-button connect" *ngIf="selectedUser.status==1">Connect</button>
        <button class="primary-button connect" *ngIf="selectedUser.status==0">Send request</button>
      </div>
    </div>
    <div class="right">
      <div class="right-content">
        <app-user-navigation [selectedUser]="selectedUser"></app-user-navigation>

        <div class="tab-content">
          <div class="main">
            <div class="main-title mat-h1">
              Biography
            </div>
            <div class="mat-body-1">
             {{selectedUser.biography}}
            </div>
          </div>

          <div class="line"></div>

          <div class="main">
            <div class="main-title mat-h1">
              Interests
            </div>
            <div class="mat-body-1">
              <mat-grid-list cols="5" rowHeight="4:1" >
                <mat-grid-tile *ngFor="let item of interests">
                  <div class="interest" >
                    <mat-icon>check_circle</mat-icon>
                    <div>{{item.name}}</div>
                  </div>
                </mat-grid-tile>
               
              </mat-grid-list>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
