<div class="isPublic">
  <mat-icon>visibility</mat-icon>Public
</div>
<div class="profile">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
  <div class="mat-h2">{{selectedProfile.firstName}} {{selectedProfile.lastName}}</div>
</div>
<div class="information">
  <div class="text">
    <mat-icon>person</mat-icon>{{gender}} 
  </div>
  <div class="text">
    <mat-icon>cake</mat-icon>{{selectedProfile.dateOfBirth | date:'mediumDate'}}
  </div>
  <div class="text">
    <mat-icon> phone</mat-icon>{{selectedProfile.phoneNumber}}
  </div>
  <div class="text">
    <mat-icon>email</mat-icon>{{selectedProfile.emailAddress}}
  </div>
  <div class="text">
    <mat-icon> location_on</mat-icon>{{selectedProfile.city}},{{selectedProfile.country}}
  </div>
</div>
