<app-navbar></app-navbar>

<div class="container">

  <div class="wrapper">
    <app-sidebar></app-sidebar>

    <div class="right">
      <div class="right-content">
        <app-profile-navigation></app-profile-navigation>
        <div class="subtitle">Make profile public?
          <div class="space"></div>
          <mat-slide-toggle [(ngModel)]="profilePrivacy" class="text">(Other profile can view your profile and posts)
          </mat-slide-toggle>
          <button class="primary-button" (click)="changePrivacy()">Confirm</button>
        </div>
        <div class="two-content">
          <div class="tab-content">
            <form [formGroup]="searchForm" class="search">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Search" formControlName="inputUser">
                <mat-icon matSuffix (click)="sarchUserByUsername()">search</mat-icon>
              </mat-form-field>
            </form>

            <div class="card" *ngFor="let profile of profiles;let i = index">
              <div class="card-image">
                <div class="avatar-girl" *ngIf="profile.gender=='1'">
                  {{profile.firstName[0]}} {{profile.lastName[0]}}
                </div>
                <div class="avatar-boy" *ngIf="profile.gender=='0'">
                  {{profile.firstName[0]}} {{profile.lastName[0]}}
                </div>
              </div>
              <div class="name ">
                <div class="public">
                  <div class="mat-h2">{{profile.firstName}} {{profile.lastName}}</div>
                </div>
               
              </div>
              <p></p>
              <div class="view">
                <div class="card-connect">
                  <button  class="follow-button following"
                    (click)="block(profile.id)">Block</button>
                </div>
              </div>
            </div>
          </div>
            <div class="right-tab-content">
              <div class="subtitle">Blocked profiles</div>
              <div class="card" *ngFor="let profile of profiles;let i = index">
                <div class="card-image">
                  <div class="avatar-girl" *ngIf="profile.gender=='1'">
                    {{profile.firstName[0]}} {{profile.lastName[0]}}
                  </div>
                  <div class="avatar-boy" *ngIf="profile.gender=='0'">
                    {{profile.firstName[0]}} {{profile.lastName[0]}}
                  </div>
                </div>
                <div class="name ">
                  <div class="public">
                    <div class="mat-h2">{{profile.firstName}} {{profile.lastName}}</div>
                  </div>
                 
                </div>
                <p></p>
                <div class="view">
                  <div class="card-connect">
                    <button class="secondary-button">Unblock</button>
                  </div>
                </div>
              </div>
            </div>       
        </div>
      </div>
    </div>
  </div>
</div>