@use '../../../base-style'as base;

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(../../../assets/background1.png);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wrapper {
    margin-top: 100px;
    margin-bottom: 30px;
    width: 80%;
    gap: 20px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    background-color: base.$background-color;
    border-radius: base.$border-radius;
}

.left {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-content {
    background-color: white;
    padding: 20px;
    border-radius: base.$border-radius;
    box-shadow: base.$box-shadow;
}

.right-content {
    width: 100%;
    border-radius: base.$border-radius;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.tab-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.post {
    border-radius: base.$border-radius;
    box-shadow: base.$box-shadow;
    background-color: white;
    padding: 20px;
}

.head {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}

.head .image {
    grid-column: 1;
}

.info {
    grid-column: 2;
}

.image img {
    width: 50px;
    border-radius: 50%;
}

.body img {
    margin-top: 10px;
    width: 100%;
}

.mat-h2 {
    font-weight: 500;
    color: base.$dark-grey;
}

.mat-h3 {
    font-weight: 50;
    margin-top: -20px;
    font-size: 16px;
    color: base.$light-grey-letters;
}

.mat-h4 {
    font-size: 16px;
    color: base.$light-grey-letters;
}

.mat-body-1 {
    font-weight: 500;
    font-size: 16px;
    color: base.$dark-grey;
}

.reactions {
    padding-top: 10px;
    display: flex;
    gap: 10px;
}

.reaction-button,.like-button,.dislike-button,.comment-button {
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid base.$medium-grey-letters;
    display: flex;
    color: base.$medium-grey-letters;
    align-items: center;
    gap: 5px;
}

.reaction-button:hover,.like-button:hover,.dislike-button:hover,.comment-button:hover{
    box-shadow: base.$box-shadow;
    cursor: pointer;
}
.like-button{
    background-color: base.$success;
    border: 2px solid base.$success;
    color: white;
}
.dislike-button{
    background-color: base.$danger;
    border: 2px solid base.$danger;
    color: white;
}
.comment-button{
    background-color: base.$medium-grey-letters;
    border: 2px solid base.$medium-grey-letters;
    color: white;
}
.comments{
    padding:20px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.comment{
    display: flex;
    flex-direction: row;
    gap:10px;
}
.new-message{
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.author{
    font-size: 16px;
    font-weight: 500;
}

.comment-image img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.new-comment-image{
    display: flex;
    align-items: center;
}
.new-comment-image img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

@media (pointer: coarse) {
    .container {
        flex-direction: row;
    }

    .left {
        width: 90%;
    }

    .mat-h1 {
        width: 100%;
        margin: 0px 0px;
        text-align: center;
    }

}