<app-navbar-not-registered></app-navbar-not-registered>
<div class="container">
  <div class="wrapper">

    <div class="left">
      <div class="left-content">
        <app-account-info [selectedProfile]="selectedProfile"></app-account-info>
      </div>
    </div>

    <div class="right">
      <div class="right-content">
        <app-account-navigation  [selectedProfile]="selectedProfile"></app-account-navigation>

        <div class="tab-content">
          <div class="main">
            <div class="main-title mat-h1">
              Biography
            </div>
            <div class="mat-body-1">
             {{selectedProfile.biography}}
            </div>
          </div>

          <div class="line"></div>

          <div class="main">
            <div class="main-title mat-h1">
              Interests
            </div>
            <div class="mat-body-1">
              <mat-grid-list cols="3" rowHeight="3:1" >
                <mat-grid-tile>
                  <div class="interest" *ngFor="let item of interests">
                    <mat-icon>check_circle</mat-icon>
                    <div>{{item.name}}</div>
                  </div>
                </mat-grid-tile>
               
              </mat-grid-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
