@use '../../../base-style'as base;


.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: base.$background-color;
}

.wrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: base.$background-color;
}

.left {
    margin-top: 100px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.right {
    margin-top: 100px;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-content {
    background-color: white;
    padding: 20px;
    border-radius: base.$border-radius;
    box-shadow: base.$box-shadow;
}

.right-content {
    width: 100%;
    border-radius: base.$border-radius;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.tab-content {
    background-color: white;
    border-radius: base.$border-radius;
    box-shadow: base.$box-shadow;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.line {
    border-bottom: 2px solid base.$light-grey-letters;
    margin: 10px 0;
}

.main {
    display: flex;
    flex-direction: column;
}

.interest {
    display: flex;
    align-items: center;
    color: base.$dark-grey;
    gap: 10px;
}

.interest .mat-icon {
    color: base.$primary-color
}

.mat-h2 {
    margin-top: 10px;
    font-weight: 500;
    color: base.$dark-grey;
}

.mat-h3 {
    font-weight: 600;
    margin-top: -20px;
    font-size: 17px;
    color: base.$primary-color-dark;
}

.mat-body-1 {
    font-weight: 500;
    font-size: 16px;
    color: base.$dark-grey;
}


@media (pointer: coarse) {
    .container {
        flex-direction: row;
    }

    .left {
        width: 90%;
    }

    .mat-h1 {
        width: 100%;
        margin: 0px 0px;
        text-align: center;
    }

}