<app-navbar-not-registered></app-navbar-not-registered>
<div class="container">
  <div class="wrapper">

    <div class="left">
      <div class="left-content">
        <app-account-info></app-account-info>
      </div>
    </div>

    <div class="right">
      <div class="right-content">
        <app-account-navigation></app-account-navigation>

        <div class="tab-content">
          <div class="main">
            <div class="main-title mat-h1">
              Biography
            </div>
            <div class="mat-body-1">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum.
            </div>
          </div>

          <div class="line"></div>

          <div class="main">
            <div class="main-title mat-h1">
              Interests
            </div>
            <div class="mat-body-1">
              <mat-grid-list cols="3" rowHeight="6:1">
                <mat-grid-tile>
                  <div class="interest">
                    <mat-icon>check_circle</mat-icon>
                    <div>Lorem ipsum dolor sit amet</div>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div class="interest">
                    <mat-icon>check_circle</mat-icon>
                    <div>Lorem ipsum dolor sit amet</div>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div class="interest">
                    <mat-icon>check_circle</mat-icon>
                    <div>Lorem ipsum dolor sit amet</div>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div class="interest">
                    <mat-icon>check_circle</mat-icon>
                    <div>Lorem ipsum dolor sit amet</div>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div class="interest">
                    <mat-icon>check_circle</mat-icon>
                    <div>Lorem ipsum dolor sit amet</div>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
