<app-navbar></app-navbar>

<div class="container">

  <div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="left">
      <div class="left-content">
        <app-account-info></app-account-info>
        <button class="primary-button connect">Connect</button>
      </div>
    </div>
    <div class="right">
      <div class="right-content">
        <app-user-navigation></app-user-navigation>

        <div class="tab-content">
          <div class="main">
            <div class="main-title mat-h1">
              Techical skills
            </div>
            <div class="mat-body-1">
              <mat-grid-list cols="3" rowHeight="6:1">
                <mat-grid-tile>
                  <div class="interest">
                    <mat-icon>check_circle</mat-icon>
                    <div>Lorem ipsum dolor sit amet</div>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div class="interest">
                    <mat-icon>check_circle</mat-icon>
                    <div>Lorem ipsum dolor sit amet</div>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div class="interest">
                    <mat-icon>check_circle</mat-icon>
                    <div>Lorem ipsum dolor sit amet</div>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div class="interest">
                    <mat-icon>check_circle</mat-icon>
                    <div>Lorem ipsum dolor sit amet</div>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div class="interest">
                    <mat-icon>check_circle</mat-icon>
                    <div>Lorem ipsum dolor sit amet</div>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </div>

          <div class="line"></div>

          <div class="main">
            <div class="main-title mat-h1">
              Interests
            </div>
            <div class="mat-body-1">
              <mat-grid-list cols="3" rowHeight="6:1">
                <mat-grid-tile>
                  <div class="interest">
                    <mat-icon>check_circle</mat-icon>
                    <div>Lorem ipsum dolor sit amet</div>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div class="interest">
                    <mat-icon>check_circle</mat-icon>
                    <div>Lorem ipsum dolor sit amet</div>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div class="interest">
                    <mat-icon>check_circle</mat-icon>
                    <div>Lorem ipsum dolor sit amet</div>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div class="interest">
                    <mat-icon>check_circle</mat-icon>
                    <div>Lorem ipsum dolor sit amet</div>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile>
                  <div class="interest">
                    <mat-icon>check_circle</mat-icon>
                    <div>Lorem ipsum dolor sit amet</div>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
