<app-navbar></app-navbar>

<div class="container">

  <div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="left">
      <div class="left-content">
        <app-account-info  [selectedProfile]="selectedUser"></app-account-info>
      </div>
    </div>
    <div class="right">
      <div class="right-content">
        <app-user-navigation  [selectedUser]="selectedUser" ></app-user-navigation>
        <div class="private-content"  *ngIf="selectedUser.status==0">
          This profile is private! Send request to make connection!
        </div>
        <div class="tab-content" *ngIf="selectedUser.status==1">
          <div class="main">
            <div class="mat-body-1">
              <mat-grid-list cols="5" rowHeight="4:1" >
                <mat-grid-tile *ngFor="let item of skills">
                  <div class="interest" >
                    <mat-icon>check_circle</mat-icon>
                    <div>{{item.name}}</div>
                  </div>
                </mat-grid-tile>
               
              </mat-grid-list>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
