<app-navbar></app-navbar>

<div class="container">
  <div class="wrapper">
    <app-sidebar></app-sidebar>

    <div class="left">
      <div class="left-content">
        <div class="add-post">
          <button class="add-button" (click)="openAddDialog($event)">
            <mat-icon>add_circle</mat-icon>Add new post
          </button>
        </div>
        <div class="tab-content">
          <div class="post" *ngFor="let post of sortedPosts; let i=index">
            <div class="head">
              <div class="image">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
              </div>
              <div class="info">
                <div class="mat-h2">{{user.firstName}} {{user.lastName}}</div>
              </div>
              <div class="mat-h4">{{post.dateTimeOfPublishing | date:'mediumDate'}}</div>
            </div>
            <div class="mat-body-1">
              {{post.text}}
            </div>
            <div class="reactions">
              <button class="like-button" *ngIf="isLiked(i)==true" (click)="removeLike(i)">
                <mat-icon>thumb_up</mat-icon>{{post.likes.length}}
              </button>
              <button class="reaction-button" *ngIf="!isLiked(i)"  (click)="addLike(post,i)">
                <mat-icon>thumb_up</mat-icon>{{post.likes.length}}
              </button>
              <button class="dislike-button" *ngIf="isDisliked(i)==true" (click)="removeDislike(i)">
                <mat-icon>thumb_down</mat-icon>{{post.dislikes.length}}
              </button>
              <button  class="reaction-button" *ngIf="!isDisliked(i)" (click)="addDislike(i)">
                <mat-icon>thumb_down</mat-icon>{{post.dislikes.length}}
              </button>
              <button [ngClass]="[commentStyle]" (click)="showComments(i)">
                <mat-icon> comment</mat-icon>{{post.comments.length}}
              </button>
            </div>
            <div class="comments" *ngIf="post.showComments==true">
              <div class="comment">
                <div class="new-comment-image">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
                </div>
                <div class="new-message">
                  <mat-form-field  appearance="outline">
                    <mat-label>Comment*</mat-label>
                    <textarea matInput placeholder="Enter comment"></textarea>
                  </mat-form-field>
                  <button class="accept-button">Post</button>
                </div>
              </div>
              <div class="comment" *ngFor="let item of post.comments">
                <div class="comment-image">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
                </div>
                <div class="message">
                  <div class="author">{{item.userId}}</div>
                  <div>{{item.text}}</div>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
    <div class="right">
      <div class="right-content">
        <div class="subtitle">Connection requests</div>
        <div class="connection">
          <div class="head-connection">
            <div class="image">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
            </div>
            <div class="info-connection">
              <div class="mat-h2">Sara Savanovic</div>
              <div class="mat-h3">Software developer</div>
            </div>
          </div>
          <div class="accept">
            <button class="accept-button">Accept</button>
            <button class="decline-button">Decline</button>
          </div>
        </div>

        <div class="line"></div>

        <div class="connection">
          <div class="head-connection">
            <div class="image">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
            </div>
            <div class="info-connection">
              <div class="mat-h2">Sara Savanovic</div>
              <div class="mat-h3">Software developer</div>
            </div>
          </div>
          <div class="accept">
            <button class="accept-button">Accept</button>
            <button class="decline-button">Decline</button>
          </div>
        </div>
      </div>

      <div class="right-content">
        <div class="subtitle">Suggestion connections</div>
        <div class="connection">
          <div class="head-connection">
            <div class="image">
              <img
                src="https://www.jeancoutu.com/globalassets/revamp/photo/conseils-photo/20160302-01-reseaux-sociaux-profil/photo-profil_301783868.jpg">
            </div>
            <div class="info-connection">
              <div class="mat-h2">Marko Markovic</div>
              <div class="mat-h3">Software developer</div>
            </div>
          </div>
          <div class="accept">
            <button class="accept-button">Connect</button>
          </div>
        </div>

        <div class="line"></div>

        <div class="connection">
          <div class="head-connection">
            <div class="image">
              <img
                src="https://us.123rf.com/450wm/fizkes/fizkes2010/fizkes201001384/157765614-profile-picture-of-smiling-indian-female-isolated-on-grey-studio-background-show-optimism-and-positi.jpg?ver=6">
            </div>
            <div class="info-connection">
              <div class="mat-h2">Ana Malinovic</div>
              <div class="mat-h3">Software developer</div>
            </div>
          </div>
          <div class="accept">
            <button class="accept-button">Connect</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
