<app-navbar></app-navbar>

<div class="container">
  <div class="wrapper">
    <app-sidebar></app-sidebar>

    <div class="left">
      <div class="left-content">
        <div class="add-post">
          <button class="add-button" (click)="openAddDialog($event)">
            <mat-icon>add_circle</mat-icon>Add new post
          </button>
        </div>
        <div class="tab-content">
          <div class="no-data" *ngIf="allPosts.length==0">
            <img src="../../assets/no-data.png">
        </div>
          <div class="post" *ngFor="let post of allPosts; let i=index">
            <div class="head">
              <div class="card-image">
                <div class="avatar-girl" *ngIf="post.gender=='1'">
                  {{post.userFirstName[0]}} {{post.userLastName[0]}}
                </div>
                <div class="avatar-boy"  *ngIf="post.gender=='0'">
                  {{post.userFirstName[0]}} {{post.userLastName[0]}}
                </div>
            </div>

              <div class="info">
                <div class="mat-h2">{{post.userFirstName}} {{post.userLastName}}</div>
              </div>
              <div class="mat-h4">{{post.dateTimeOfPublishing | date:'mediumDate'}}</div>
            </div>
            <div class="mat-body-1">
              {{post.text}}
            </div>
            <div class="post-image" *ngIf="post.image!=null">
              <img  [src]="post.image">
            </div>
          
            <div class="reactions">
              <button class="like-button" *ngIf="isLiked(i)==true" (click)="removeLike(post,i)">
                <mat-icon>thumb_up</mat-icon>{{post.likes.length}}
              </button>
              <button class="reaction-button" *ngIf="!isLiked(i)"  (click)="addLike(post,i)">
                <mat-icon>thumb_up</mat-icon>{{post.likes.length}}
              </button>
              <button class="dislike-button" *ngIf="isDisliked(i)==true" (click)="removeDislike(post,i)">
                <mat-icon>thumb_down</mat-icon>{{post.dislikes.length}}
              </button>
              <button  class="reaction-button" *ngIf="!isDisliked(i)" (click)="addDislike(post,i)">
                <mat-icon>thumb_down</mat-icon>{{post.dislikes.length}}
              </button>
              <button [ngClass]="[commentStyle]" (click)="showComments(i)">
                <mat-icon> comment</mat-icon>{{post.comments.length}}
              </button>
            </div>
            <div class="comments" *ngIf="post.showComments==true">
              <div class="comment">
                <div class="new-comment-image">
                  <div class="avatar-girl-small" *ngIf="user.gender=='1'">
                    {{user.firstName[0]}} {{user.lastName[0]}}
                  </div>
                  <div class="avatar-boy-small"  *ngIf="user.gender=='0'">
                    {{user.firstName[0]}} {{user.lastName[0]}}
                  </div>
              </div>
                <div class="new-message">
                  <mat-form-field  appearance="outline">
                    <mat-label>Comment*</mat-label>
                    <textarea matInput placeholder="Enter comment" [(ngModel)]='post.newCommentText' [name]='post.newCommentText'></textarea>
                  </mat-form-field>
                  <button class="accept-button" (click)="addComment(post,i)">Post</button>
                </div>
              </div>
              <div class="comment" *ngFor="let item of post.comments">
                <div class="comment-image">
                  <div class="avatar-girl-small" *ngIf="item.gender=='1'">
                    {{item.userFirstName[0]}} {{item.userLastName[0]}}
                  </div>
                  <div class="avatar-boy-small"  *ngIf="item.gender=='0'">
                    {{item.userFirstName[0]}} {{item.userLastName[0]}}
                  </div>
                </div>
                <div class="message">
                  <div class="author">{{item.userFirstName}} {{item.userLastName}}</div>
                  <div>{{item.text}}</div>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
    <div class="right">
      <div class="right-content">
        <div class="subtitle">Connection requests</div>
        <div class="mat-h3" *ngIf="followRequests.length==0">No connection request :(</div>
        <div class="connection" *ngFor="let item of followRequests">
          <div class="head-connection">
            <div class="image">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
            </div>
            <div class="info-connection">
              <div class="mat-h2">{{item.userFirstName}} {{item.userLastName}}</div>
              <div class="mat-h3">{{item.username}}</div>
            </div>
          </div>
          <div class="accept">
            <button class="accept-button" (click)="acceptFollowRequest(item.userId)">Accept</button>
           
          </div>
          <div class="line"></div>
        </div>

       

        
      </div>

      <div class="right-content">
        <div class="subtitle">Suggestion connections</div>
        <div class="mat-h3" *ngIf="recommendation.length==0">No suggestion connections :(</div>
        <div class="connection" *ngFor="let profile of recommendation;let i = index">
          <div class="head-connection">
           <div class="card-image">
            <div class="avatar-girl" *ngIf="profile.gender=='1'">
              {{profile.firstName[0]}} {{profile.lastName[0]}}
            </div>
            <div class="avatar-boy" *ngIf="profile.gender=='0'">
              {{profile.firstName[0]}} {{profile.lastName[0]}}
            </div>
          </div>
            <div class="info-connection">
              <div class="mat-h2">{{profile.firstName}} {{profile.lastName}}</div>
         
            </div>
          </div>
          <div class="accept">
            <button class="accept-button" (click)="connect(profile.id)">Connect</button>
          </div>
          <div class="line"></div>
        </div>
       </div>
    </div>
  </div>
</div>
