@use '../../../base-style'as base;


.container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 30px;
    background-color: base.$background-color;
}

.wrapper {
    width: 100%;
    margin-left: 270px;
    display: flex;
    flex-direction: row;
    gap:20px;
    background-color: base.$background-color;
}

.right {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 25%;
}

.left {
    margin-top: 80px;
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-content {
    margin-top: -20px;
    background-color: white;
    padding: 20px;
    width: 80%;
    max-height:35vh;
    overflow: auto;
    border-radius: base.$border-radius;
    box-shadow: base.$box-shadow;
}

.subtitle {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
}


.left-content {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.tab-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.add-post {
    display: flex;
    justify-content: flex-end;
    padding: 0
}

.add-button {
    @extend %grey-button;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-button:hover {
    @extend %grey-button-hover;
}

.post {
    border-radius: base.$border-radius;
    box-shadow: base.$box-shadow;
    background-color: white;
    padding: 20px;
}

.head {
    display: grid;
    grid-template-columns: 1fr 10fr 1.5fr;
}

.head .image {
    grid-column: 1;
}

.info {
    grid-column: 2;
}

.image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.comment-image img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.new-comment-image{
    display: flex;
    align-items: center;
}
.new-comment-image img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.mat-form-field{
    margin-top: 20px;
    width: 100%;
}

.body img {
    margin-top: 10px;
    width: 100%;
}

.reactions {
    padding-top: 10px;
    display: flex;
    gap: 10px;
}

.reaction-button,.like-button,.dislike-button,.comment-button {
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid base.$medium-grey-letters;
    display: flex;
    color: base.$medium-grey-letters;
    align-items: center;
    gap: 5px;
}

.reaction-button:hover,.like-button:hover,.dislike-button:hover,.comment-button:hover{
    box-shadow: base.$box-shadow;
    cursor: pointer;
}
.like-button{
    background-color: base.$success;
    border: 2px solid base.$success;
    color: white;
}
.dislike-button{
    background-color: base.$danger;
    border: 2px solid base.$danger;
    color: white;
}
.comment-button{
    background-color: base.$medium-grey-letters;
    border: 2px solid base.$medium-grey-letters;
    color: white;
}
.comments{
    padding:20px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.comment{
    display: flex;
    flex-direction: row;
    gap:10px;
}
.new-message{
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.author{
    font-size: 16px;
    font-weight: 500;
}
.mat-h2 {
    font-weight: 500;
    color: base.$dark-grey;
}

.mat-h3 {
    font-weight: 50;
    margin-top: -20px;
    font-size: 16px;
    color: base.$light-grey-letters;
}

.mat-h4 {
    font-size: 16px;
    color: base.$light-grey-letters;
}

.mat-body-1 {
    font-weight: 500;
    font-size: 16px;
    margin: 10px 0px;
    color: base.$dark-grey;
}

.head-connection {
    display: grid;
    grid-template-columns: 2fr 6fr
}

.card-image {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
}
 .avatar-boy,.avatar-girl {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    font-weight: 500;
}
.avatar-boy{
    background-color: #1d9bc9
}
.avatar-girl{
    background-color: palevioletred;
}
.avatar-boy-small,.avatar-girl-small {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    font-weight: 500;
}
.avatar-boy-small{
    background-color: #1d9bc9
}
.avatar-girl-small{
    background-color: palevioletred;
}

.accept {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: -5px
}

.accept-button {
    @extend %primary-button;
    margin: 0;
    padding: 10px 20px;
    border-radius: 10px;
}

.accept-button:hover {
    @extend %primary-button-hover;
}

.decline-button {
    @extend %secondary-button;
    margin: 0;
    padding: 7px 20px;
    border-radius: 10px;
}

.decline-button:hover {
    @extend %secondary-button-hover;
    margin: 0;
    padding: 10px 23px;
}

.line {
    border-bottom: 2px solid base.$light-grey-letters;
    margin: 10px 0;
}

@media (pointer: coarse) {
    .container {
        flex-direction: row;
    }

    .left {
        width: 90%;
    }

    .mat-h1 {
        width: 100%;
        margin: 0px 0px;
        text-align: center;
    }

}