<nav id="sidebar">
  <div class="sidebar-header">
    <div class="profile-circle">  <div class="avatar-girl" *ngIf="gender=='1'">
      {{firstName[0]}} {{lastName[0]}}
    </div>
    <div class="avatar-boy"  *ngIf="gender=='0'">
      {{firstName[0]}} {{lastName[0]}}
    </div>
    </div>
    <br>
    <p id="header-profile">  {{firstName}} {{lastName}}</p>
  </div>
  <ul class="list-unstyled components">
    <li>
      <a [routerLink]="['/dashboard']" routerLinkActive="active" data-toggle="collapse" aria-expanded="false"
        class="dropdown-toggle">
        <mat-icon>dashboard</mat-icon>Dashboard
      </a>
    </li>
    <li>
      <a [routerLink]="['/find-job']" routerLinkActive="active" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <mat-icon>business_center</mat-icon>Jobs
      </a>
    </li>
    <li>
      <a [routerLink]="['/messages']" routerLinkActive="active" data-toggle="collapse" aria-expanded="false"
      class="dropdown-toggle">
        <mat-icon  matBadge={{messageCount}}  matBadgePosition="before" matBadgeColor="warn" [matBadgeHidden]="messageHidden"> message</mat-icon>Messages
      </a>
    </li>
    <li>
      <a [routerLink]="['/notificaations']" routerLinkActive="active" data-toggle="collapse" aria-expanded="false"
      class="dropdown-toggle">
        <mat-icon matBadge={{count}}  matBadgePosition="before" matBadgeColor="warn" [matBadgeHidden]="hidden">notifications</mat-icon>Notifications
      </a>
    </li>
    <li>
      <a [routerLink]="['/account-update']" routerLinkActive="active"data-toggle="collapse" aria-expanded="false"
      class="dropdown-toggle">
        <mat-icon>settings</mat-icon>Profile Settings
      </a>
    </li>
  </ul>
  <div class="sidebar-bottom">
    <img id="sidebar-image" src="../../../assets/navbar.png">
  </div>
</nav>

<div class="bottom-navbar">
  <a class="nav-col" routerLinkActive="active-mobile">
    <div>
      <mat-icon>dashboard</mat-icon>
    </div>
  </a>
  <a class="nav-col" routerLinkActive="active-mobile">
    <div>
      <mat-icon>business_center</mat-icon>
    </div>
  </a>
  <a class="nav-col" routerLinkActive="active-mobile">
    <div>
      <mat-icon> message</mat-icon>
    </div>
  </a>
  <a class="nav-col" routerLinkActive="active-mobile">
    <div>
      <mat-icon>notifications</mat-icon>
    </div>
  </a>
</div>
