<app-navbar></app-navbar>

<div class="container">
    <div class="wrapper">
        <app-sidebar></app-sidebar>

        <div class="left">
            <div class="left-content">
                <div class="navigation">
                    <button class="links" [routerLink]="['/find-job']" routerLinkActive="active">Find job</button>
                    <button class="links" [routerLink]="['/my-jobs']" routerLinkActive="active">My jobs</button>
                </div>

                <div class="tab-content">
                    <div class="main">
                        <div class="card">
                            <div class="about-info">
                                <div class="card-image"><img
                                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
                                </div>
                                <div class="name ">
                                    <div class="public">
                                        <div class="mat-h2">{{selectedJob.seniority}}</div>
                                        <div class="mat-h2">{{selectedJob.positionName}}</div>
                                    </div>
                                    <div class="mat-h3">{{selectedJob.userFirstName}} {{selectedJob.userLastName}}</div>
                                    <div class="mat-h3">{{selectedJob.address}}, {{selectedJob.city}}, {{selectedJob.country}}</div>
                                </div>
                            </div>
                            <div class="decsription">
                                <div class="job-subtitle">Job description:</div>
                                <div class="description-content">
                                  {{selectedJob.description}}
                                   </div>
                            </div>
                            <div class="list">
                                <div class="job-subtitle">Your daily activities:</div>
                                <mat-grid-list cols="1" rowHeight="30:1">
                                  <mat-grid-tile *ngFor="let item of selectedJob.dailyActivities">
                                    <div class="interest">
                                      <mat-icon>check_circle</mat-icon>
                                      <div>{{item}}</div>
                                    </div>
                                  </mat-grid-tile>
                                </mat-grid-list>
                              </div>
                           
                              <div class="list">
                                <div class="job-subtitle">What do we expect from you?</div>
                                <mat-grid-list cols="1" rowHeight="30:1">
                                  <mat-grid-tile  *ngFor="let item of selectedJob.requirements">
                                    <div class="interest">
                                      <mat-icon>check_circle</mat-icon>
                                      <div>{{item.name}}</div>
                                    </div>
                                  </mat-grid-tile>
                                </mat-grid-list>
                              </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="right-content">
                <div class="subtitle">Suggested jobs</div>
                <div class="connection">
                    <div class="head-connection">
                        <div class="image">
                            <img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
                        </div>
                        <div class="info-connection">
                            <div class="mat-h2">Data Scientist</div>
                            <div class="mat-h3">IT company</div>
                        </div>
                    </div>
                    <div class="accept">
                        <button class="accept-button">View</button>
                    </div>
                </div>

                <div class="line"></div>

                <div class="connection">
                    <div class="head-connection">
                        <div class="image">
                            <img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FuEJbKwDdaz1h387130xmYkAIQbZpahhbQ&usqp=CAU">
                        </div>
                        <div class="info-connection">
                            <div class="mat-h2">Web developer</div>
                            <div class="mat-h3">IT company</div>
                        </div>
                    </div>
                    <div class="accept">
                        <button class="accept-button">View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>